<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  每天 08:00 跑 update.sh(#37)。用 launchd 不用 cron:機器在睡覺時 cron 那一次就沒了,
  launchd 的 StartCalendarInterval 會在下次醒來時補跑。caffeinate -i 讓它跑完之前不會又睡著。
  安裝:make schedule
-->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.j1998719.twse-research.update</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>cd "$HOME/twse-research" &amp;&amp; exec /usr/bin/caffeinate -i ./update.sh &gt;&gt; data/cron.log 2&gt;&amp;1</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
</dict>
</plist>
